/*

    Name:       Base16 Default Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-dark.CodeMirror {background: #151515; color: #e0e0e0;}
.cm-s-base16-dark .CodeMirror-gutters {background: #151515; border-right: 0px;}
.cm-s-base16-dark .CodeMirror-linenumber {color: #505050;}
.cm-s-base16-dark .CodeMirror-cursor {border-left: 1px solid #b0b0b0 !important;}

.cm-s-base16-dark span.cm-comment {color: #8f5536;}
.cm-s-base16-dark span.cm-atom {color: #aa759f;}
.cm-s-base16-dark span.cm-number {color: #aa759f;}

.cm-s-base16-dark span.cm-property, .cm-s-base16-dark span.cm-attribute {color: #90a959;}
.cm-s-base16-dark span.cm-keyword {color: #ac4142;}
.cm-s-base16-dark span.cm-string {color: #f4bf75;}

.cm-s-base16-dark span.cm-variable {color: #90a959;}
.cm-s-base16-dark span.cm-variable-2 {color: #6a9fb5;}
.cm-s-base16-dark span.cm-def {color: #d28445;}
.cm-s-base16-dark span.cm-bracket {color: #e0e0e0;}
.cm-s-base16-dark span.cm-tag {color: #ac4142;}
.cm-s-base16-dark span.cm-link {color: #aa759f;}
.cm-s-base16-dark span.cm-error {background: #ac4142; color: #b0b0b0;}

.cm-s-base16-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-dark .cm-selectedline {background: #3B3B3B;}

.CodeMirror-matchingtag { background: rgba(26, 117, 255, 0.40); }
.CodeMirror-focused .cm-matchhighlight { background: rgba(153, 0, 0, 0.40); }

div.CodeMirror-linenumber.CodeMirror-gutter-elt { cursor: pointer; }

.editor-ruler { border-left: 1px solid #383838; }

.cm-s-base16-dark .CodeMirror-activeline-background {
  background-color: rgba(46, 46, 46, 0.40) !important;
}
.cm-s-base16-dark div.CodeMirror-selected {background: rgba(46, 46, 46, 0.40) !important;}