/*==========================================================
	-- tags --
==========================================================*/
body {
	font-family: Arial;
	background: #151515;
}

body input[type="text"] {
	background: #2E2E2E;
	border: none;
	color: #d0d0d0;
	padding: 5px;
}

body select {
	background: #2E2E2E;
	border: none;
	color: #d0d0d0;
	padding: 5px;
}

/*==========================================================
	-- container/content --
==========================================================*/
#container { 
	margin-top: 45px;
}

#content {
	padding: 5px;
	color: #d0d0d0;
}

#content a {
	color: #3366FF !important;
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline !important;
}

.content-section-header {
	padding: 5px;
	font-size: 28px;
	font-weight: bold;
}

.content-section-body {
	padding: 5px;
	padding-left: 30px;
	width: 700px;
}

/*==========================================================
	-- header --
==========================================================*/
#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	color: #d0d0d0;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
	z-index: 10000;
	background: #2E2E2E;
}

#header-main {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 40px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #d0d0d0;
	line-height: 35px;
}

#header-main:hover {
	background: rgba(255, 255, 255, 0.07);
}

/*==========================================================
	-- navigation --
==========================================================*/
#navigation {
	position: absolute;
	top: 0px;
	left: 240px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#navigation li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	font-weight: bold;
	font-size: 14px;
}

#navigation li a {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 4px 10px;
	width: auto;
	text-align: left;
	text-decoration: none;
	color: #d0d0d0;
	line-height: 32px;
	text-align: center;
}

#navigation li a img {
	border: 0px;
	vertical-align: middle;
}

#navigation li a:hover {
	background-color: rgba(255, 255, 255, 0.07);
}

/*==========================================================
	-- side panel --
==========================================================*/
#side-panel {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 100%;
	z-index: 9999;
	overflow-y: auto;
	color: #505050;
	background: #1E1E1E;
}

#side-panel-content {
	padding: 5px;
	padding-top: 5px;
	font-size: 12px;
}

#side-panel-content table {
	border: none;
	width: 100%;
}

#side-panel-content table td {
	border: none;
	padding: 1px;
	min-width: 70px;
}

#side-panel-content input[type="text"] {
	width: 93%;
}

#side-panel-content select {
	width: 100%;
}

#side-panel-content input[type="submit"] {
	display: block;
	width: 100%;
	background: #2E2E2E;
	border: none;
	padding: 5px;
	color: #d0d0d0;
}

.side-panel-header {
	font-weight: bold;
	padding: 5px;
	position: relative;
	color: #d0d0d0;
	margin-top: 5px;
	font-size: 14px;
	background: #2E2E2E;
}

.side-panel-header a {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #d0d0d0;
}

.side-panel-section
{
	padding: 5px;
}

.side-panel-section a {
	color: #3366FF !important;
	text-decoration: none;
}

.side-panel-section a:hover {
	text-decoration: underline !important;
}

/*==========================================================
	-- paste toolbar --
==========================================================*/
#paste-toolbar {
	padding: 5px;
}

#paste-toolbar img {
	vertical-align: middle;
	margin-top: -2px;
}

#paste-toolbar a {
	color: #000000;
	text-decoration: none;
}

/*==========================================================
	-- panel --
==========================================================*/
.panel {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
	width: 700px;
	z-index: 10002;
	background: #151515;
	color: #d0d0d0;
}

.panel-header {
	padding: 5px;
	position: relative;
	font-weight: bold;
	font-size: 18px;
	color: #d0d0d0;
	background: #2E2E2E;
}

.panel-content {
	padding: 5px;
	font-size: 14px;
}

.panel-content a {
	color: #3366FF !important;
	text-decoration: none;
}

.panel-content a:hover {
	text-decoration: underline !important;
}

.panel-button {
	padding: 5px;
	display: inline-block;
	background-color: #2E2E2E;
	color: #d0d0d0;
	text-decoration: none;
	min-width: 100px;
}

.panel-footer {
	padding: 5px;
	text-align: center;
}

/*==========================================================
	-- tooltip --
==========================================================*/
.tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background: #FFFFE5;
	color: #000000;
	z-index: 10001;
	font-size: 14px;
	border: 1px solid #737373;
}

.tooltip-content {
	padding: 5px;
}

/*==========================================================
	-- fullscreen infobox --
==========================================================*/
#editor-fullscreen-infobox {
	background-color: #2E2E2E;
	color: #d0d0d0;
	display: none;
	position: absolute;
	z-index: 1000001;
}

#editor-fullscreen-infobox div {
	padding: 5px;
}

/*==========================================================
	-- error container --
==========================================================*/
#error-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -350px;
	background: #2E2E2E;
	width: 700px;
	height: 65px;
	color: #d0d0d0;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30);
}

#error-container-content {
	padding: 5px;
}

#error-container-header {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

#error-container-footer {
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
}

#error-container-footer a {
	color: #3366FF !important;
	text-decoration: none;
}

#error-container-footer a:hover {
	text-decoration: underline !important;
}

/*==========================================================
	-- data table --
==========================================================*/
.datatable {
	background: #2E2E2E;
	margin: 15px;
}

.datatable td {
	padding: 5px;
}

/*==========================================================
	-- misc --
==========================================================*/
#error-panel {
	width: 700px;
}

#background {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.70;
	background-color: #3B3B3B;
	z-index: 10000;
}

#editor_fontsize_selector {
	width: 78px;
}

#languages {
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}

#paste-visibility-selector {
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}

#paste-expiration-selector {
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}

.databox {
	margin: 15px;
	background: #2E2E2E;
	padding: 5px;
}

.editor-slider {
	margin-left: 10px;
	width: 110px;
	display: inline-block;
}

.slider-text {
	display: inline-block;
	width: 20px;
	text-align: center;
}

.list-inlineblock {
	width: 100px;
	padding: 5px;
	display: inline-block;
	text-align: center;
	margin-bottom: 5px;
}