<include href="templates/doctype.html" />
<html>
	<head>
		<include href="templates/head.html" />
	</head>
	<body>
		<include href="templates/header.html" />
		<div id="background"></div>
		<div id="container">
			<div id="content">
				<div class="content-section-header">
					About Light Paste
				</div>
				<div class="content-section-body">
					Light Paste is a lightweight paste service written in <a href="http://php.net">PHP</a> using the <a href="http://fatfreeframework.com">Fat Free Framework</a>. 
					It aims to provide a simple, customizable user interface and fast load times.
				</div>
				<div class="content-section-header">
					Credits
				</div>
				<div class="content-section-body">
					Created by <a href="http://nikolairesokav.com/">Kenny Shields</a>
					<br/> <br/>
					Third-Party Software and Content:
					<ul>
						<li><a href="http://fatfreeframework.com">Fat Free Framework</a></li>
						<li><a href="http://www.hashids.org/php/">PHP Hashids Class</a></li>
						<li><a href="http://codemirror.net">CodeMirror</a></li>
						<li><a href="http://jquery.com/">jQuery</a></li>
						<li><a href="http://famfamfam.com/lab/icons/silk/">Silk Icons</a></li>
					</ul>
				</div>
				<div class="content-section-header">
					Contact
				</div>
				<div class="content-section-body">
					For any site-related questions or concerns, please email <a href="mailto:nikolairesokav@gmail.com">Kenny Shields</a>.
				</div>
			</div>
		</div>
	</body>
</html>