<div class="panel" id="about-panel">
	<div class="panel-header">
		About
	</div>
	<div class="panel-content">
		<div style="margin: 15px; padding: 5px;">
			Light Paste is a lightweight paste service written in <a href="http://php.net">PHP</a> using the <a href="http://fatfreeframework.com">Fat Free Framework</a>. 
			It aims to provide a simple, customizable user interface and fast load times.
			<div style="border-top: 1px dotted #CCCCCC; padding: 5px; margin-top: 5px;">
				Created by <a href="http://nikolairesokav.com/">Kenny Shields</a>
				<br/> <br/>
				Third-Party Software and Content:
				<ul>
					<li><a href="http://fatfreeframework.com">Fat Free Framework</a></li>
					<li><a href="http://www.hashids.org/php/">PHP Hashids Class</a></li>
					<li><a href="http://codemirror.net">CodeMirror</a></li>
					<li><a href="http://jquery.com/">jQuery</a></li>
					<li><a href="http://famfamfam.com/lab/icons/silk/">Silk Icons</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<a class="panel-button" href="#" onclick="toggleCenterPanel('about-panel');">Close</a>
	</div>
</div>