<div class="side-panel-header">
	Editor Options
	<a href="#" id="editor-options-toggle" onclick="slidePanel('editor-options-content', 'editor-options-toggle', adjustSidePanel);">
		<img src="static/images/icons/collapse.png">
	</a>
</div>
<div class="side-panel-section" id="editor-options-content">
	<check if="{{ @editor_line_numbers == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="linenumbers_checkbox" style="margin-top: 5px;">
		</true>
		<false>
			<input type="checkbox" id="linenumbers_checkbox" style="margin-top: 5px;">
		</false>
	</check>
	<label for="linenumbers_checkbox">Line numbers</label>
	<br/>
	<check if="{{ @editor_line_wrapping == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="wordwrap_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="wordwrap_checkbox" >
		</false>
	</check>
	<label for="wordwrap_checkbox">Word wrap</label>
	<br/>
	<check if="{{ @editor_smart_indent == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="smartindent_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="smartindent_checkbox" >
		</false>
	</check>
	<label for="smartindent_checkbox">Smart indent</label>
	<br/>
	<check if="{{ @editor_match_brackets == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="matchbrackets_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="matchbrackets_checkbox" >
		</false>
	</check>
	<label for="matchbrackets_checkbox">Match brackets</label>
	<br/>
	<label for="tabsize_selector">Tab size</label>
	<input type="text" id="tabsize_selector" value="{{@editor_tab_size}}" style="width: 68px; margin-left: 80px; margin-bottom: 3px;" />
	<br/>
	<label for="blinkrate_editor">Cursor blink rate (ms)</label>
	<input type="text" id="blinkrate_editor" value="{{@editor_cursor_blinkrate}}" style="width: 68px; margin-left: 5px; margin-bottom: 3px;">
	<br/>
	<label for="editor_fontsize_selector">Font size</label>
	<select id="editor_fontsize_selector" style="width: 72px; margin-left: 76px; margin-bottom: 3px;">
		<repeat group="{{@editor_font_sizes}}" key="{{@k}}" value="{{@v}}">
			<check if="{{@v}} == {{@editor_font_size}}">
				<true>
		<option value="{{@v}}" selected="selected">{{@v}}</option>
				</true>
				<false>
		<option value="{{@v}}">{{@v}}</option>
				</false>
			</check>
		</repeat>
	</select>
	<br/>
	<label for="editor_fontselector">Font</label>
	<select id="editor_fontselector" style="width: 168px; margin-left: 5px;">
		<repeat group="{{@editor_fonts}}" key="{{@k}}" value="{{@v}}">
			<check if="{{@v}} == {{@editor_font}}">
				<true>
		<option value="{{@v}}" selected="selected">{{@k}}</option>
				</true>
				<false>
		<option value="{{@v}}">{{@k}}</option>
				</false>
			</check>
		</repeat>
	</select>
</div>
