<div class="side-panel-header">
	Editor Options
	<a href="#" id="editor-options-toggle" onclick="slidePanel('editor-options-content', 'editor-options-toggle', adjustSidePanel);">
		<img src="{{@SITE_STATIC}}/themes/{{@site_theme}}/images/collapse.png" alt="Collapse icon">
	</a>
</div>
<div class="side-panel-section" id="editor-options-content">
	<table>
		<tr>
			<td>
	<check if="{{ @editor_line_numbers == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="linenumbers_checkbox">
		</true>
		<false>
			<input type="checkbox" id="linenumbers_checkbox">
		</false>
	</check>
		<label for="linenumbers_checkbox">Line numbers</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_line_wrapping == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="wordwrap_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="wordwrap_checkbox" >
		</false>
	</check>
	<label for="wordwrap_checkbox">Word wrap</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_smart_indent == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="smartindent_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="smartindent_checkbox" >
		</false>
	</check>
	<label for="smartindent_checkbox">Smart indent</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_match_brackets == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="matchbrackets_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="matchbrackets_checkbox" >
		</false>
	</check>
	<label for="matchbrackets_checkbox">Match brackets</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_match_tags == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="matchtags_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="matchtags_checkbox" >
		</false>
	</check>
	<label for="matchbrackets_checkbox">Match tags</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_highlight_active_line == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="highlight_active_line_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="highlight_active_line_checkbox" >
		</false>
	</check>
	<label for="matchbrackets_checkbox">Highlight active line</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_highlight_occurrences == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="highlight_occurrences_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="highlight_occurrences_checkbox" >
		</false>
	</check>
	<label for="highlight_occurrences_checkbox">Highlight occurrences</label>
			</td>
		</tr>
		<tr>
			<td>
	<check if="{{ @editor_vertical_ruler == 'true' }}">
		<true>
			<input type="checkbox" checked="checked" id="vertical_ruler_checkbox" >
		</true>
		<false>
			<input type="checkbox" id="vertical_ruler_checkbox" >
		</false>
	</check>
	<label for="vertical_ruler_checkbox">Vertical ruler</label>
			</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" id="fullscreen_checkbox" >
				<label for="fullscreen_checkbox">Fullscreen</label>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td><label for="tabsize_selector">Tab size</label></td>
			<td><div id="tabsize-text" class="slider-text">{{@editor_tab_size}}</div><div id="tabsize-slider" class="editor-slider"><div></td>
		</tr>
		<tr>
			<td><label for="blinkrate_editor">Blink rate</label></td>
			<td><div id="blinkrate-text" class="slider-text">{{@editor_cursor_blinkrate}}</div><div id="blinkrate-slider" class="editor-slider"><div></td>
		</tr>
		<tr>
			<td><label for="editor_fontsize_selector">Font size</label></td>
			<td>
				<div id="fontsize-text" class="slider-text">{{@editor_font_size}}</div><div id="fontsize-slider" class="editor-slider"><div>
			</td>
		</tr>
		<tr>
			<td><label for="editor_fontselector">Font</label></td>
			<td>
				<select id="editor_fontselector">
					<repeat group="{{@editor_fonts}}" key="{{@k}}" value="{{@v}}">
						<check if="{{@v}} == {{@editor_font}}">
							<true>
					<option value="{{@v}}" selected="selected">{{@k}}</option>
							</true>
							<false>
					<option value="{{@v}}">{{@k}}</option>
							</false>
						</check>
					</repeat>
				</select>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
	$("#tabsize-slider").slider({
		value: {{@editor_tab_size}},
		min: 0,
		max: 30,
		slide: function(event, ui) {
			var value = ui.value;
			$("#tabsize-text").text(value);
			editor.setOption("tabSize", value);
			setCookie("editor_tab_size", value, "Mon, 1 Jan 2040 08:00:00 UTC");
		},
		stop: function() {
			editor.focus();
		}
	});
	$("#blinkrate-slider").slider({
		value: {{@editor_cursor_blinkrate}},
		min: 0,
		max: 530,
		slide: function(event, ui) {
			var value = ui.value;
			$("#blinkrate-text").text(value);
			editor.setOption("cursorBlinkRate", value);
			setCookie("editor_cursor_blinkrate", value, "Mon, 1 Jan 2040 08:00:00 UTC");
		},
		stop: function() {
			editor.focus();
		}
	});
	$("#fontsize-slider").slider({
		value: {{@editor_font_size}},
		min: 10,
		max: 28,
		slide: function(event, ui) {
			var value = ui.value;
			$("#fontsize-text").text(value);
			$(".CodeMirror").css("font-size", value + "px");
			editor.refresh();
			setCookie("editor_font_size", value, "Mon, 1 Jan 2040 08:00:00 UTC");
		}
	});
</script>
