<title>{{@page_title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<check if="isset({{@paste_private}}) and {{@paste_private}} == 1">
	<true>
<meta name="robots" content="noindex, nofollow">
	</true>
</check>
<link rel="StyleSheet" href="{{@SITE_STATIC}}/css/codemirror.css" />
<link rel="StyleSheet" href="{{@SITE_STATIC}}/css/fullscreen.css" />
<link rel="StyleSheet" href="{{@SITE_STATIC}}/themes/{{@site_theme}}/css/main.css" />
<link rel="StyleSheet" href="{{@SITE_STATIC}}/themes/{{@site_theme}}/css/editor.css" />
<script type="text/javascript" src="{{@SITE_STATIC}}/js/codemirror-compressed.js"></script>
<script type="text/javascript" src="{{@SITE_STATIC}}/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{@SITE_STATIC}}/js/main.js"></script>
<script type="text/javascript">
	site_static = "{{@SITE_STATIC}}";
	site_theme = "{{@site_theme}}";
<check if="isset({{@SITE_ANALYTICS_ENABLED}}) and {{@SITE_ANALYTICS_ENABLED}} == true">
	<true>
	<include href="templates/google_analytics_script.html" />
	</true>
</check>
</script>