editor.on("change", function() {
	adjustSidePanel();
});
$(document).ready(function() { 
	adjustSidePanel();
	adjustEditor();
});
$(window).resize(function() { 
	adjustSidePanel();
	adjustEditor(); 
});
var hash = window.location.hash
if(hash.search("line-") != -1) {
	console.log("!");
	var line = parseInt(hash.substring(6));
	if(line != NaN) {
		if(line != 0) {
			line = line - 1;
			editor.addLineClass(line, "background", "cm-selectedline");
			editor.scrollIntoView({line: line, ch: 0}, 0);
		}
	}
}