<include href="templates/doctype.html" />
<html>
	<head>
		<include href="templates/head.html" />
	</head>
	<body>
		<include href="templates/header.html" />
		<div id="background"></div>
		<div id="editor-fullscreen-infobox">
			<div>Press Escape or F11 to exit fullscreen mode.</div>
		</div>
		<include href="templates/error_panel.html" />
		<include href="templates/message_panel.html" />
		<div id="side-panel">
			<div id="side-panel-content">
				<include href="templates/paste_options.html" />
				<include href="templates/editor_options.html" />
				<include href="templates/site_options.html" />
			</div>
		</div>
		<form action="{{@BASE}}/new" method="post" id="paste_form" enctype="multipart/form-data">
			<check if="isset({{@SESSION.copy_text}})">
				<true>
					<textarea id="text-editor" name="text">{{@SESSION.copy_text}}</textarea>
				</true>
				<false>
					<textarea id="text-editor" name="text"></textarea>
				</false>
			</check>
		</form>
		<script type="text/javascript">
			<include href="templates/codemirror_script.html" />
		</script>
	</body>
</html>
