<div class="side-panel-header">
	Paste Options
	<a href="#" id="paste-options-toggle" onclick="slidePanel('paste-options-content', 'paste-options-toggle', adjustSidePanel);">
		<img src="{{@SITE_STATIC}}/images/icons/collapse.png">
	</a>
</div>
<div class="side-panel-section" id="paste-options-content">
	<label for="languages">Language</label>
	<select id="languages" name="language" form="paste_form">
		<option value="none">None</option>
		<repeat group="{{@languages}}" key="{{@k}}" value="{{@v}}">
			<check if="{{isset(@v[mode_complex])}}">
			<true>
				<option value="{{@k}}" data-mode="{{@v[mode]}}" data-modecomplex="{{@v[mode_complex]}}">{{@v[name]}}</option>
			</true>
			<false>
				<option value="{{@k}}" data-mode="{{@v[mode]}}">{{@v[name]}}</option>
			</false>
		</repeat>
	</select>
	<br/>
	<input type="checkbox" id="pasteprivate_checkbox" name="private" form="paste_form" >
	<label for="pasteprivate_checkbox">Private</label>
	<input type="submit" value="Post" form="paste_form" />
</div>