<div class="data-panel" id="paste-info">
	<div class="data-panel-header">
		Paste Info 
		<a href="#" id="paste-info-toggle" onclick="slidePanel('paste-info-content', 'paste-info-toggle', positionPanels);">
			<img src="static/images/icons/collapse.png">
		</a>
	</div>
	<div id="paste-info-content">
		<div class="data-panel-row">
			<span class="data-panel-key">Language</span>
			<check if="isset({{@language_website}})">
				<true>
					<span class="data-panel-value"><a href="{{@language_website}}">{{@language_name}}</a></span>
				</true>
				<false>
					<span class="data-panel-value">{{@language_name}}</span>
				</false>
			</check>
		</div>
		<div class="data-panel-row">
			<span class="data-panel-key">Posted</span> 
			<span class="data-panel-value">{{@paste_time}}</span>
		</div>
		<div class="data-panel-row">
			<span class="data-panel-key">Views</span> 
			<span class="data-panel-value">{{@paste_views}}</span>
		</div>
		<div class="data-panel-row">
			<span class="data-panel-key">Size</span> 
			<span class="data-panel-value">{{@paste_size}}</span>
		</div>
		<div class="data-panel-row">
			<span class="data-panel-key">MD5</span> 
			<span class="data-panel-value"><input type="text" readonly="readonly" value="{{@paste_md5}}"></span>
		</div>
		<div class="data-panel-row">
			<span class="data-panel-key">SHA1</span> 
			<span class="data-panel-value"><input type="text" readonly="readonly" value="{{@paste_sha1}}"></span>
		</div>
	</div>
</div>