<div class="side-panel-header">
	Paste Options
	<a href="#" id="paste-options-toggle" onclick="slidePanel('paste-options-content', 'paste-options-toggle', adjustSidePanel);">
		<img src="{{@SITE_STATIC}}/themes/{{@site_theme}}/images/collapse.png" alt="Collapse icon">
	</a>
</div>
<div class="side-panel-section" id="paste-options-content">
	<select id="languages" name="language" form="paste_form">
		<option value="none">None</option>
		<repeat group="{{@languages}}" key="{{@k}}" value="{{@v}}">
			<check if="{{isset(@v[mode_complex])}}">
			<true>
				<option value="{{@k}}" data-mode="{{@v[mode]}}" data-modecomplex="{{@v[mode_complex]}}">{{@v[name]}}</option>
			</true>
			<false>
				<option value="{{@k}}" data-mode="{{@v[mode]}}">{{@v[name]}}</option>
			</false>
		</repeat>
	</select>
	<label for="languages">Language</label>
	<select id="paste-visibility-selector" name="visibility" form="paste_form">
		<option value="public" selected="selected">Public</option>
		<option value="private">Private</option>
	</select>
	<label for="paste-visibility-selector">Visibility</label>
	<select id="paste-expiration-selector" name="expiration" form="paste_form">
		<repeat group="{{@expirations}}" key="{{@k}}" value="{{@v}}">
			<check if="{{@v}} == 'Never'">
			<true>
				<option value="{{@k}}" selected="selected">{{@k}}</option>
			</true>
			<false>
				<option value="{{@k}}">{{@k}}</option>
			</false>
		</repeat>
	</select>
	<label for="paste-expiration-selector">Expiration</label>
	<input type="submit" value="Post" form="paste_form" />
</div>