<div class="side-panel-header">
	Paste Info 
	<a href="#" id="paste-info-toggle" onclick="slidePanel('paste-info-content', 'paste-info-toggle', adjustSidePanel);">
		<img src="{{@SITE_STATIC}}/themes/{{@site_theme}}/images/collapse.png" alt="Collapse icon">
	</a>
</div>
<div class="side-panel-section" id="paste-info-content">
	<table>
		<tr>
			<td>Language</td>
		<check if="isset({{@language_website}})">
			<true>
				<td><a href="{{@language_website}}">{{@language_name}}</a></td>
			</true>
			<false>
				<td>{{@language_name}}</td>
			</false>
		</check>
		</tr>
		<tr>
			<td>Post Date</td>
			<td>{{@paste_date}}</td>
		</tr>
		<tr>
			<td>Post Time</td>
			<td>{{@paste_time}}</td>
		</tr>
		<tr>
			<td>Views</td>
			<td>{{@paste_views}}</td>
		</tr>
		<tr>
			<td>Size</td>
			<td>{{@paste_size}}</td>
		</tr>
		<tr>
			<td>MD5</td>
			<td><input type="text" readonly="readonly" value="{{@paste_md5}}"></td>
		</tr>
		<tr>
			<td>SHA1</td>
			<td><input type="text" readonly="readonly" value="{{@paste_sha1}}"></td>
		</tr>
	</table>
</div>