<div id="paste-toolbar">
	<a href="./{{@paste_id}}/copy">
		<img src="{{@SITE_STATIC}}/images/icons/silk/page_paste.png" id="paste-copy-link" class="tooltip-object" data-tooltip="paste-copy-tooltip" alt="Copy icon">
	</a>
	<a href="./{{@paste_id}}/raw">
		<img src="{{@SITE_STATIC}}/images/icons/silk/page_white.png" id="paste-raw-link" class="tooltip-object" data-tooltip="paste-raw-tooltip" alt="Raw icon">
	</a>
	<a href="./{{@paste_id}}/download">
		<img src="{{@SITE_STATIC}}/images/icons/silk/drive_disk.png" id="paste-download-link" class="tooltip-object" data-tooltip="paste-download-tooltip" alt="Download icon">
	</a>
	<a href="./{{@paste_id}}/report">
		<img src="{{@SITE_STATIC}}/images/icons/silk/error.png" id="paste-report-link" class="tooltip-object" data-tooltip="paste-report-tooltip" alt="Report icon">
	</a>
</div>