<include href="templates/doctype.html" />
<html>
	<head>
		<include href="templates/head.html" />
	</head>
	<body>
		<include href="templates/header.html" />
		<div id="background"></div>
		<include href="templates/about_panel.html" />
		<include href="templates/error_panel.html" />
		<include href="templates/message_panel.html" />
		<div id="paste-copy-tooltip" class="tooltip">
			<div class="tooltip-content">
				Copy & Edit
			</div>
		</div>
		<div id="paste-raw-tooltip" class="tooltip">
			<div class="tooltip-content">
				Raw
			</div>
		</div>
		<div id="paste-download-tooltip" class="tooltip">
			<div class="tooltip-content">
				Download
			</div>
		</div>
		<div id="paste-report-tooltip" class="tooltip">
			<div class="tooltip-content">
				Report
			</div>
		</div>
		<div id="side-panel">
			<div id="side-panel-content">
				<include href="templates/paste_toolbar.html" />
				<include href="templates/paste_info.html" />
				<include href="templates/editor_options.html" />
				<include href="templates/site_options.html" />
			</div>
		</div>
		<textarea id="text-editor">{{@editor_text}}</textarea>
		<script type="text/javascript">
			<include href="templates/codemirror_script.html" />
		</script>
	</body>
</html>