.cm-s-lightpaste { line-height: 1em; font-size: 14px; }

.cm-s-lightpaste span.cm-comment { color: #008000; }
.cm-s-lightpaste span.cm-keyword { line-height: 1em; font-weight: bold; color: #0000FF; }
.cm-s-lightpaste span.cm-string { color: #808080; }
.cm-s-lightpaste span.cm-literalstring { color: #95004A; }
.cm-s-lightpaste span.cm-builtin { line-height: 1em; font-weight: bold; color: #0080C0; }
.cm-s-lightpaste span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-lightpaste span.cm-variable { color: black; }
.cm-s-lightpaste span.cm-number, .cm-s-lightpaste span.cm-atom { color: #FF751A; }
.cm-s-lightpaste span.cm-meta {color: #555;}
.cm-s-lightpaste span.cm-link { color: #3a3; }

.cm-s-lightpaste .cm-def {color: #00f;}
.cm-s-lightpaste .cm-variable-2 {color: #05a;}
.cm-s-lightpaste .cm-variable-3 {color: #085;}
.cm-s-lightpaste .cm-property {color: #8080C0;}
.cm-s-lightpaste .cm-operator {color: black;}
.cm-s-lightpaste .cm-string-2 {color: #f50;}
.cm-s-lightpaste .cm-qualifier {color: #555;}
.cm-s-lightpaste .cm-bracket {color: #997;}
.cm-s-lightpaste .cm-tag {color: #170;}
.cm-s-lightpaste .cm-attribute {color: #00c;}
.cm-s-lightpaste .cm-header {color: blue;}
.cm-s-lightpaste .cm-quote {color: #090;}
.cm-s-lightpaste .cm-hr {color: #999;}

.cm-s-lightpaste .CodeMirror-activeline-background {
  background-color: rgba(230, 230, 230, 0.40) !important;
}
.cm-s-lightpaste div.CodeMirror-selected {background: rgba(230, 230, 230, 0.40) !important;}

.CodeMirror-gutters{ background-color: #FFFFFF !important; border-right: none !important; padding-right: 10px;}
.CodeMirror-matchingtag { background: rgba(255, 153, 0, 0.40); }

div.CodeMirror span.CodeMirror-matchingbracket{ color: #FF0000 !important; font-weight: bold; }
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #000000;}
div.CodeMirror-linenumber.CodeMirror-gutter-elt { cursor: pointer; }
div.CodeMirror-linenumber.CodeMirror-gutter-elt:target { color: #FF0000; font-weight: bold; }

.CodeMirror-focused .cm-matchhighlight { background: rgba(0, 255, 64, 0.40); }

.editor-ruler { border-left: 1px solid #CCCCCC; }